body{
    font-family: 'Lato', sans-serif;
}

.align{
    text-align: center;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
    
}

.xyz{
    margin-left: 70px;
    margin-right: 70px;
}

.abc{
    margin-bottom: 50px;
}